# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.eggs/

# =========================
# Virtual Environments
# =========================
venv/
.env/
.venv/
env/

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# Local config / secrets
# =========================
utils/db_config.py

# =========================
# OS / Editor files
# =========================
.DS_Store
.vscode/
.idea/

